

.container{

    margin-bottom: 100px;
}.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: crimson;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}



.cat1{
    background-color: crimson;
}.cat2{
    background-color: darkblue;
}.cat3{
    background-color: darkmagenta;
}.catagories h1{
    color: white;
},.catagories img{
    width: 100px;
}.card{
    border: none;
box-shadow:2px 2px 7px crimson;
}
.card-footer{
    background-color: whitesmoke;
    border: none;
}
#Connect{
    height: 300px;
}#Connect h6{
    color: gray;
}footer{text-align: center;
    color: grey;
}